<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список ссылок</title>
</head>
<body>
    <h1>Список всех страниц</h1>
    <nav>
        <ul>
            <li><a href="{% url 'name' %}">Имя</a></li>
            <li><a href="{% url 'group' %}">Группа</a></li>
            <li><a href="{% url 'age' %}">Возраст</a></li>
            <li><a href="{% url 'common' %}">Общая информация</a></li>
            <li><a href="/admin/">Административная панель</a></
        </ul>
    </nav>
</body>
</html>
